@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i,900,900i';
body {
    font-family: source sans pro, sans-serif
}

#myBtn {
     /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 10px; /* Place the button at the bottom of the page */
    right: 10px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
  }

#head_learn {
    color: #424242
}

.map {
    margin-bottom: 100px;
    margin-top: 70px
}

.no-padding {
    padding: 0!important
}

.no-margin {
    margin: 0
}

.redcolor {
    color: #d11e30
}

.colorwhite {
    color: #fff
}

.border-both {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc
}

.border-right {
    border-right: 1px solid #dcdcdc
}

.header {
    margin: 10px 0 10px
}

.header-block {
    padding: 0;
}

.logo {
    padding: 0
}

.booking {
    text-align: right;
    padding: 5px 0 0
}

.booking-footer {
    text-align: center;
    padding: 5px 0 0
}

.new-time {
    font-size: 17px;
    max-width: 635px;
    border: 1px solid #ffdc00;
    margin: auto;
    margin-right: 0;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 6px;
    padding: 4px;
    font-weight: 700;
    animation: blinkingText 2s infinite
}

@keyframes blinkingText {
    0% {
        color: #000
    }
    49% {
        color: #000
    }
    60% {
        color: transparent
    }
    99% {
        color: transparent
    }
    100% {
        color: #000
    }
}

.booking a {
    padding: 0 15px;
    font-size: 18px;
    color: #424242;
    font-family: source sans pro, sans-serif;
    font-weight: 600
}

.booking a img {
    margin-right: 5px
}

.header-btn {
    background-color: #ffdc00;
    color: #000000;
    font-family: source sans pro, sans-serif;
    font-weight: 700;
    font-size: 18px;
    border-radius: 25px;
    padding: 10px 40px;
    border: 0
}
.header-btn:hover {
    background-color: #fff4af;
}

.master-container {
    padding: 0
}

.slider {
    padding: 0
}

.navigation {
    position: absolute;
    z-index: 9;
    padding: 0
}

.navbar-head .navbar-head-nav {
    display: inline-block;
    float: none
}

.navbar-head .navbar-head-coll {
    text-align: center;
    padding: 6px 0
}

.navbar-head {
    background-color: #010101;
    border: none;
    border-radius: 0;
    margin-bottom: 0
}

.navbar-head .navbar-head-nav>.active>a, .navbar-head .navbar-head-nav>.active>a:focus, .navbar-head .navbar-head-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
    font-family: source sans pro, sans-serif;
    font-weight: 400;
    font-size: 18px;
    background: url(../src/img/active.png) bottom center no-repeat
}

.navbar-head .navbar-head-nav>li>a {
    color: #fff;
    font-family: source sans pro, sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 6px 35px
}

.navbar-head .navbar-head-nav>li>a:hover {
    background: url(../src/img/active.png) bottom center no-repeat
}

.caption-customiz {
    top: 20%
}

.banner-img {
    width: 100%
}

.arrow-size {
    margin-top: 60px;
    height: 60px;
    width: 120px;
}

.caption-customiz h2 {
    font-size: 80px;
    font-family: source sans pro, sans-serif;
    font-weight: 400;
    margin-top: 0;
    color: #fff;
    text-shadow: none
}

.caption-customiz h4 {
    font-size: 25px;
    font-family: source sans pro, sans-serif;
    font-weight: 400;
    margin-top: 20px;
    color: #fff;
    text-shadow: none;
    margin-bottom: 40px
}

.banner-btn {
    background-color: #ffdc00;
    color: #000000;
    padding: 10px 40px;
    border: 0;
    font-family: source sans pro, sans-serif;
    font-weight: 700;
    font-size: 18px;
    border-radius: 25px
}

.banner-btn:hover {
    background-color: #fff4af;
}

.welcome-section {
    margin-top: 75px;
    margin-bottom: 10px;
    padding: 0;
    font-family: source sans pro, sans-serif
}

.welcome {
    padding: 0;
    text-align: center
}

.welcome h2 {
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    color: #424242;
    text-transform: uppercase
}

.welcome h1 {
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    margin-top: 10px
}

.welcome p {
    font-size: 16px;
    color: #424242;
    line-height: 30px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dot-border {
    border-left: 1px dotted #cbced2;
    border-right: 1px dotted #cbced2
}

.welcome-box {
    padding: 10px 10px
}

.welcome-box h3 {
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    margin: 30px 0 20px;
    font-family: source sans pro, sans-serif
}

.welcome-box p {
    margin-top: 0;
    font-size: 16px;
    color: #424242;
    line-height: 30px
}

.form-block {
    background-color: #1c1c1c;
    padding: 0;
    margin-top: 70px
}

.bhoechie-tab-container {
    z-index: 10;
    padding: 0
}

.bhoechie-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0
}

.bhoechie-tab-menu div.list-group {
    margin-bottom: 0
}

.bhoechie-tab-menu div.list-group>a {
    margin-bottom: 0
}

.bhoechie-tab-menu div.list-group>a .glyphicon, .bhoechie-tab-menu div.list-group>a .fa {
    color: #5a55a3
}

.bhoechie-tab-menu div.list-group>a:first-child {
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0
}

.bhoechie-tab-menu div.list-group>a:last-child {
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0
}

.bhoechie-tab-menu div.list-group>a.active, .bhoechie-tab-menu div.list-group>a.active .glyphicon, .bhoechie-tab-menu div.list-group>a.active .fa {
    background-color: #ee162d;
    background-image: #ee162d;
    color: #fff
}

.bhoechie-tab-menu div.list-group>a.active:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #ee162d
}

.bhoechie-tab-content {
    padding: 50px 0 55px 20px
}

.bhoechie-tab div.bhoechie-tab-content:not(.active) {
    display: none
}

.custom-list {
    background-color: transparent;
    border: 0;
    padding: 19px
}

a.custom-list, button.custom-list {
    color: #fff;
    font-family: source sans pro, sans-serif;
    font-size: 16px;
    font-weight: 400
}

.pickupaddres p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: source sans pro, sans-serif
}

.form-box {
    height: 40px;
    width: 100%;
    border: 0;
    padding: 0 15px;
    font-size: 12px;
    font-family: source sans pro, sans-serif;
    font-weight: 400
}

.form-textarea {
    height: 100px;
    width: 100%;
    border: 0;
    padding: 0 15px;
    font-size: 12px;
    font-family: source sans pro, sans-serif;
    font-weight: 400
}

.form-fill-section {
    padding: 0;
    margin-bottom: 20px
}

.pickupbtn {}

.formbookingbtn {
    font-size: 16px;
    font-weight: 700;
    font-family: source sans pro, sans-serif;
    background-color: #ffdc00;
    border: 0;
    color: #000000;
    padding: 10px 35px;
    border-radius: 25px
}

a.custom-list:focus, a.custom-list:hover, button.custom-list:focus, button.custom-list:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ee162d
}

.fleet-block {
    padding: 0;
    font-family: source sans pro, sans-serif;
    margin-top: 70px
}

.our-fleet {
    padding: 0;
    text-align: center
}

.our-fleet h4 {
    font-weight: 600;
    font-size: 20px;
    color: #424242;
    text-transform: uppercase
}

.our-fleet h3 {
    color: #000000;
    font-size: 40px;
    margin-top: 10px;
    font-weight: 400
}

.our-fleet p {
    font-size: 16px;
    color: #424242;
    line-height: 30px;
    font-weight: 500;
    margin-top: 40px
}

.chauffeur-carousel {
    margin-top: 70px
}

.thubnail-img {
    border-bottom: 1px solid #eee;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px
}

.thumbnail-box {
    display: block;
    margin-bottom: 20px;
    margin-left: 2px;
    margin-right: 2px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    padding-bottom: 30px;
    padding: 20px;
}

.price-btn {
    background-color: #ffdc00;
    border: 0;
    font-family: source sans pro, sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 15px;
    border-radius: 20px
}

.carousel-box h4 {
    text-align: left;
    font-size: 18px;
    color: #424242;
    font-weight: 400;
    font-family: source sans pro, sans-serif;
    margin: 0
}

.fleet-name {
    padding: 25px 20px
}

.fleet-name p {
    padding: 0!important
}

.top-line {
    background: url(../src/img/active.png) top no-repeat;
    height: 3px;
    background-position: left;
    margin-left: 20px;
    margin-bottom: 10px
}

.carousel-box p {
    text-align: left;
    font-size: 18px;
    color: #424242;
    font-weight: 400;
    font-family: source sans pro, sans-serif;
    padding: 0 20px;
    margin: 0
}

.carousel-box p img {
    margin-right: 15px
}

.indicators-custom {
    right: 50%;
    top: auto;
    bottom: -40px;
    margin-right: -19px
}

.carousel-indicators.indicators-custom li {
    width: 55px;
    height: 20px
}

.indicators-custom li {
    background: #fff;
    border: 3px solid #ffdc00
}

.indicators-custom .active {
    background: #ffdc00
}

.carousel-box a:hover {
    text-decoration: none
}

.captionbtn {
    top: 118px
}

.call-block {
    padding: 0;
    background: url(../src/bg.jpg) fixed no-repeat center;
    margin-top: 80px;
    padding: 100px 0;
    background-size: cover
}

.call-section {
    padding: 0;
    font-family: source sans pro, sans-serif;
    text-align: center
}

.call-section h2 {
    font-size: 50px;
    color: #fff;
    font-family: source sans pro, sans-serif
}

.call-section .h1 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 700;
    font-family: source sans pro, sans-serif
}

.call-section .h1 a {
    color: #fff;
    text-decoration: none
}

.call-section p {
    font-size: 20px;
    font-weight: 400;
    font-family: source sans pro, sans-serif;
    color: #fff;
    margin: 35px 0 50px
}

.services-block {
    padding: 0;
    margin-top: 80px
}

.services {
    padding: 0;
    font-family: source sans pro, sans-serif;
    text-align: center
}

.services h3 {
    font-weight: 600;
    font-size: 20px;
    color: #424242;
    text-transform: uppercase;
    font-family: source sans pro, sans-serif
}

.services h5 {
    color: #000000;
    font-size: 40px;
    font-weight: 400;
    margin-top: 10px;
    font-family: source sans pro, sans-serif
}

.services-content {
    padding: 0;
    margin-top: 60px;
    text-align: left
}

.services-text p {
    text-align: left;
    color: #313131;
    line-height: 30px;
    font-family: source sans pro, sans-serif;
    font-size: 16px
}

.services-text ul {
    padding: 0;
    margin-top: 25px
}

.services-text ul li {
    text-align: left;
    list-style: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    font-family: source sans pro, sans-serif;
    color: #424242
}

.services-text ul li img {
    padding-right: 15px
}

.readmore-btn {
    background-color: #ffdc00;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    border: 0;
    padding: 10px 30px;
    border-radius: 25px;
    margin-top: 25px
}

.readmore-btn:hover {
    background-color: #fff4af;
}

.testimonial-block {
    padding: 100px 0;
    margin-top: 90px;
    background: url(../src/testimonial-bg.jpg) no-repeat fixed;
    background-size: cover;
    background-position: center
}

.testimonial {
    padding: 0;
    text-align: center
}

.testimonial h4 {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    font-family: source sans pro, sans-serif
}

.testimonial h6 {
    color: #fff;
    font-size: 40px;
    margin-top: 0;
    font-weight: 400;
    font-family: source sans pro, sans-serif;
    background: url(../src/img/testi-line.png) bottom no-repeat;
    padding-bottom: 50px
}

#quote-carousel {
    padding: 0 10px 0
}

#quote-carousel .carousel-control {
    background: 0 0;
    color: #cacaca;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 15px
}

#quote-carousel .carousel-control.left {
    left: 0
}

#quote-carousel .carousel-control.right {
    right: 0
}

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0;
    margin-right: -19px
}

#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border-radius: 50px;
    opacity: .4;
    overflow: hidden;
    transition: all .4s
}

#quote-carousel .carousel-indicators .active {
    background: #333;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    opacity: 1;
    overflow: hidden
}

a.left.carousel-control.testi-control {
    margin-left: 15%
}

a.right.carousel-control.testi-control {
    margin-right: 15%
}

.carousel-inner {
    min-height: auto
}

.item blockquote {
    border-left: none;
    margin: 0
}

.testi-indicator {
    position: relative;
    height: 130px
}

.testi-subtext h5 {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    font-family: source sans pro, sans-serif;
    margin-top: 0
}

.testi-subtext p {
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    color: #fff;
    font-family: source sans pro, sans-serif
}

.testi-control {
    width: auto;
    height: fit-content
}

.footer-block {
    padding: 0;
    background-color: #fff;
    border-top: 1px solid #f7f7f7
}

.footer {
    padding: 60px 0
}

.footer-about {
    height: 210px
}

.footer-about p {
    font-size: 14px;
    font-weight: 500;
    color: #414141;
    font-family: source sans pro, sans-serif;
    margin-top: 20px;
    line-height: 24px
}

.quickmenu {
    height: 280px
}

.quickmenu ul {
    padding: 0
}

.quickmenu ul li {
    list-style: none;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500
}

.quickmenu ul li a {
    color: #414141
}

.license {
    height: 210px
}

.license h4 {
    font-size: 13px;
    font-weight: 700;
    font-family: source sans pro, sans-serif;
    text-transform: uppercase;
    margin: 0;
    line-height: 24px
}

.license img {
    width: auto;
    float: left;
    margin: 5px 5px 5px 0
}

.license span {
    font-size: 14px;
    font-weight: 700;
    color: #868686;
    text-transform: uppercase;
    font-family: source sans pro, sans-serif
}

.license p {
    font-size: 14px;
    font-family: source sans pro, sans-serif;
    color: #868686;
    line-height: 22px;
    margin-top: 5px
}

.license p strong {
    color: #000000
}

.copyright {
    background-color: #1c1c1c;
    padding: 10px 0
}

.copy-text {
    font-size: 13px;
    font-weight: 300;
    color: #868686;
    padding: 3px 0;
    font-family: source sans pro, sans-serif
}

.social-icon {
    text-align: right
}

.social-icon a {
    font-size: 18px;
    margin: 0 10px;
    color: #ffdc00
}

.welcome.serv p {
    margin-top: 0
}

.serv .welcome-box {
    margin-top: 0
}

.title-bottom {
    margin-bottom: 45px!important;
    font-weight: 600;
    letter-spacing: 2px
}

.list-icon {
    padding: 0;
    margin: 20px 0 0;
    list-style-type: none
}

.list-icon li {
    position: relative;
    min-height: 52px;
    margin-bottom: 20px;
    padding: 10px 0 0 72px;
    font-size: 16px;
    letter-spacing: -.02em
}

.list-icon span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px;
    line-height: 1.7em;
    width: 52px;
    height: 52px;
    background-color: #ffdc00;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.list-icon strong {
    color: #333
}

.list-icon .fa-fax {
    font-size: 22px;
    line-height: 2.3em
}

.note {
    color: #fa6b6b;
    font-size: 14px
}

label sup {
    color: #fa6b6b;
    font-weight: lighter;
    font-size: 16px;
    line-height: 1em;
    position: relative;
    top: -1px
}

.fleet {
    background: url(../img/fleet/bg.jpg) no-repeat;
    background-size: cover;
    text-align: center
}

.fleet img.banner {
    max-width: 100%;
    margin: 99px auto 12px;
    display: inline-block
}

.fleet .red-box {
    background: #ffdc00;
    border-radius: 50px;
    text-align: center;
    padding: 8px 0
}

.fleet .red-box span {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
    display: block
}

.fleet-tabs {
    border-bottom: 0;
    text-align: center;
    max-width: 596px;
    margin: 0 auto
}

.fleet-tabs>li {
    margin: 0 10px
}

.fleet-tabs>li a {
    border-radius: 30px;
    text-transform: uppercase
}

.fleet-tabs>li.active>a, .fleet-tabs>li.active>a:focus, .fleet-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #ee162d;
    border: 0
}

.fleet-tabs>li>a, .fleet-tabs>li>a:focus, .fleet-tabs>li>a:hover {
    text-decoration: none;
    background-color: #eee
}

.payment-method {
    background: #f2f2f2;
    display: inline-block;
    width: 100%;
    margin-top: 70px;
    padding: 15px 0
}

.payment-method .payment-box {
    text-align: center;
    background: #fff;
    padding: 20px 0
}

.payment-method .payment-box a {
    color: #ee162d;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700
}

.payment-method .payment-box a:hover, .payment-method .payment-box a:focus, .payment-method .payment-box a:active, .contact-details a:hover, .contact-details a:focus, .contact-details a:active {
    text-decoration: none
}

.payment-method img {
    display: block;
    margin: 0 auto;
    padding: 10px
}

.contact-details {
    font-size: 20px
}

.contact-details a {
    color: red
}

.cyn-heading {
    text-align: left
}

.cyn-heading p {
    font-size: 18px;
    font-weight: 700;
    color: #ee162d;
    text-align: left;
    padding: 5px 15px
}

.smbt-btn {
    padding: 12px 16px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background: #ffdc00;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    margin-top: 20px
}

.smbt-btn:hover {
    background: #232322
}

.booking-form .form-control {
    background: #f3f3f3;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);
    width: 100%
}

.ne_mar_b {
    margin: 50px 0
}

.ne_pic .pdate {
    font-size: 40px;
    font-weight: 700;
    color: #dbdbdb
}

.ne_pic .byadmin {
    font-size: 13px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 30px
}

.ne_pic .pdate span {
    color: #ee162d;
    font-size: 20px
}

.ne_pic .byadmin span:first-child {
    margin-right: 40px
}

.ne_pic p {
    font-size: 18px
}

.ne_pic .readmore a {
    color: #ee162d;
    font-size: 13px;
    font-weight: 600
}

.area-we-cover {
    padding: 0
}

.area-we-cover ul {
    padding: 0;
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    margin-top: 40px
}

.area-we-cover ul li {
    list-style: none;
    font-size: 16px;
    margin-bottom: 10px;
    color: #424242;
    line-height: 30px;
    font-weight: 600
}

.area-we-cover ul li a {
    color: #424242;
    font-size: 14px
}

.area-we-cover ul li a:hover {
    color: #ee162d;
    text-decoration: none
}

.area-we-cover ul li i {
    color: #ee162d;
    margin-right: 5px
}

.new-price {
    padding: 0;
    margin-bottom: 20px
}

.new-price h1 {
    text-align: center;
    font-size: 100px;
    font-weight: 600
}

.contentArea {
    width: 1024px;
    text-decoration: none;
    font-size: 11pt;
    color: #666;
    clear: both;
    border: 1px solid #f2f2f2
}

.contentArea th {
    background: #010101;
    color: #fff;
    padding: 13px
}

.contentArea td {
    padding: 10px
}

.title {
    font-size: 20px;
    font-weight: 500;
    color: #010101;
    text-align: center;
    margin-bottom: 20px
}

.account {
    padding: 0
}

.account h1 {
    color: #ee162d;
    font-size: 40px;
    font-weight: 400;
    margin-top: 10px;
    text-align: center
}

.account h5 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px
}

.account ul {
    padding-left: 20px
}

.account ul li {
    font-size: 16px;
    color: #424242;
    line-height: 30px;
    float: left;
    list-style: url(../img/tic.png)
}

.account-pera {
    font-size: 16px;
    color: #424242;
    line-height: 30px;
    font-weight: 600;
    margin-top: 20px
}

.account-pera a {
    color: #424242
}

.fleet-detail {
    text-align: left!important;
    color: #313131!important;
    line-height: normal!important;
    font-family: source sans pro, sans-serif!important;
    font-size: 16px!important;
    margin-top: 10px!important
}

.fleet-page-detail {
    margin-top: 15px;
    text-align: center
}

.fleet-page-detail p {
    text-align: center;
    color: #313131;
    line-height: normal;
    font-family: source sans pro, sans-serif;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px
}

.aa-form {
    padding: 0
}

.form-area p {
    font-size: 16px;
    margin: 0
}

.form-area {
    margin-bottom: 15px
}

.aa-form-text {
    width: 100%;
    height: 40px;
    border: 1px solid #e2e2e2;
    font-size: 16px;
    padding: 0 15px
}

.aa-form p {
    font-size: 18px;
    color: #010101;
    text-align: center;
    margin-bottom: 30px
}

.aa-form a {
    font-size: 18px;
    color: #010101;
    text-decoration: none
}

.aplication-form {
    background-color: #ee162d;
    color: #fff;
    font-family: source sans pro, sans-serif;
    font-weight: 700;
    font-size: 18px;
    border-radius: 25px;
    padding: 10px 40px;
    border: 0
}

.form-download-btn {
    text-align: center;
    margin-top: 30px
}

.ul-center {
    list-style-type: none;
    display: flex;
    justify-content: center
}

.ul-center li {
    display: list-item;
    margin: 0 75px
}

.formbookingbtn:hover, .formbookingbtn:focus {
    background-color: #fff4af;
    outline: none
}

.form-textarea, .form-box {
    color: #333;
    padding: 10px
}

.pickupbtn {
    margin-left: -15px;
    margin-right: -15px
}

.ui-timepicker-viewport {
    text-align: left
}

.ui-timepicker-standard {
    background: #fff
}

.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    z-index: 9999;
    position: relative
}

.pickupbtn {
    margin-top: 33px;
    margin-bottom: 67px
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    border: none!important;
    color: #ee162d!important;
    padding: 0;
    margin: 0
}

.your-message textarea {
    height: 100px
}

.bredcram {
    padding: 0;
    margin-top: 15px
}

.bredcram .breadcrumb {
    border-radius: 0;
    margin-bottom: 0
}

.bredcram ol li a {
    color: #000;
    font-size: 16px
}

.bredcram ol li.active {
    color: #ee162d;
    font-size: 16px;
    cursor: pointer
}

.arearwecover-breadcum {
    margin-top: 70px
}

.app {
    padding: 50px 0 0;
    margin-top: 90px;
    background: url(../img/app-bg.png) no-repeat fixed;
    background-size: cover;
    background-position: center;
    margin-bottom: -90px
}

.app .phone-img {
    text-align: center
}

.app .phone-img img {
    max-width: 100%
}

.app .app-content {
    text-align: center;
    margin-top: 95px
}

.app .app-content h5 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 300;
    color: #000;
    margin-bottom: 20px
}

.app .app-content span {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    background: #ea1d24;
    padding: 4px 15px;
    display: inline-block;
    border: 2px solid #c5161c;
    border-radius: 6px;
    margin-bottom: 40px
}

.app .app-content ul {
    padding-left: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around
}

.app .app-content ul li {
    list-style: none;
    display: inline-block
}

.app .app-content ul li img {
    max-width: 100%
}

.ads-h {
    margin-top: -12px;
    margin-bottom: 33px
}

.ads-h ul {
    padding: 0;
    list-style: none
}

.ads-h ul li {
    display: inline-block;
    margin: 0 20px
}

.ads-h ul li a img {
    max-width: 170px
}

.ads-f {
    margin-top: 10px;
    margin-bottom: 33px;
    display: inline-block
}

.ads-f ul {
    padding: 0;
    list-style: none
}

.ads-f ul li {
    display: block;
    margin: 0
}

.ads-f ul li a img {
    max-width: 110px
}

.ls-txt {
    display: inline-block;
    font-size: 16px;
    color: #424242;
    line-height: 30px;
    font-weight: 500;
    margin-top: 10px
}

.ls-txt p {
    margin-bottom: 0
}

.ls-txt a {
    color: #ee162d
}

@media(max-width:992px) {
    .wpcf7 .col-xs-4, .wpcf7 .form-fill-section {
        width: 100%
    }
    .app .app-content {
        text-align: center;
        margin-top: 0;
        margin-bottom: 50px
    }
    .caption-customiz {
        top: 15%
    }
    .arrow-size {
        margin-top: 30px;
        height: 40px;
        width: 90px;
    }
    
}

@media(max-width:767px) {
    .logo, .booking {
        text-align: center
    }
    .ls-txt {
        display: inline-block;
        font-size: 12px;
        color: #424242;
        line-height: 22px;
        font-weight: 500;
        margin-top: 10px
    }
    .new-time {
        margin: 15px auto 10px;
        max-width: 345px
    }
    .ads-h ul li a img {
        max-width: 109px
    }
    .ads-h ul li {
        display: inline-block;
        margin: 0 4px
    }
    .ads-h {
        margin-top: 0;
        margin-bottom: 10px
    }
    .booking a {
        display: inline-block;
        margin: 5px 0
    }
    .app .app-content h5 {
        font-size: 36px
    }
    .app .app-content ul li {
        margin-bottom: 20px
    }
    .call-block, .testimonial-block {
        background: #333
    }

    .caption-customiz {
        top: 5%
    }

    .caption-customiz h2 {
        font-size: 14px
    }
    .services-img {
        margin-top: 50px
    }
    .caption-customiz h4 {
        font-size: 13px;
        font-family: source sans pro, sans-serif;
        font-weight: 400;
        margin-top: 9px;
        text-shadow: none;
        margin-bottom: 15px
    }
    .area-we-cover ul li {
        width: 100%;
        padding: 0 15px
    }
    .slider .carousel-caption {
        padding-top: 0;
        top: 7%
    }
    .banner-btn {
        padding: 10px 30px;
        font-size: 14px;
    }
    .header {
        margin: 10px 0 0
    }
    #quote-carousel .carousel-indicators li {
        display: none
    }
    #quote-carousel .carousel-indicators .active {
        display: block;
        margin: 0 auto
    }
    .footer-about, .license {
        height: auto
    }
    .fleet-tabs>li {
        margin: 0 1px
    }
    .fleet .red-box {
        margin: 15px 0
    }
    .account ul li {
        width: auto;
        margin: 0 35px
    }
    .call-section .h1 a {
        color: #fff;
        text-decoration: none;
        font-size: 43px
    }
    .aplication-form {
        padding: 10px 19px
    }
    .account, .account-pera {
        padding: 0 15px
    }
    .logo a img {
        display: inline-block
    }
    .welcome h2, .our-fleet h2, .services h2, .testimonial h2, .account h2 {
        font-size: 25px
    }
    .call-section h2 {
        font-size: 30px
    }
    .call-section h1 {
        font-size: 40px
    }
    .our-fleet p {
        padding: 0 15px
    }
    .bhoechie-tab-content {
        padding-left: 0
    }
    .slider {
        margin-top: 50px
    }
    .welcome, .new-price {
        padding: 0 15px
    }
    .dot-border {
        display: none
    }
    .overflow {
        overflow: scroll
    }
    .ul-center {
        display: block
    }
    .form {
        padding: 0
    }
    .bhoechie-tab {
        padding: 0
    }
    .arrow-size {
        height: 30px;
        width: 70px;
    }
}

@media screen and (max-width:1023px) and (min-width:768px) {
    .navbar-head .navbar-head-nav>li>a {
        font-size: 16px;
        padding: 6px 12px
    }
    .caption-customiz h2 {
        font-size: 30px
    }
    .caption-customiz h4 {
        font-size: 20px;
        margin: 15px 0
    }
    .captionbtn {
        top: 68px
    }
    .header-tel {
        background: url(../src/i../src/img/sprite-img.png) no-repeat -26px -364px
    }
    .header-btn {
        font-size: 16px;
        padding: 10px 25px
    }
    .overflow {
        overflow: scroll
    }
    .title-bottom {
        margin-bottom: 0!important
    }
    textarea.form-control {
        height: 100px
    }
}

@media screen and (max-width:1199px) and (min-width:1024px) {
    .navbar-head .navbar-head-nav>li>a {
        font-size: 18px;
        padding: 6px 23px
    }
    .caption-customiz h2 {
        font-size: 30px
    }
    .caption-customiz h4 {
        font-size: 20px;
        margin: 15px 0
    }
    .captionbtn {
        top: 94px
    }
    .booking a {
        font-size: 18px
    }
    .header-btn {
        font-size: 18px;
        padding: 10px 25px
    }
}

@media(max-width:359px) {
    .ads-h ul li a img {
        max-width: 89px
    }
}

.header-tel {
    background: url(../src/img/phone-yellow.png) no-repeat;
    padding-left: 32px!important
}

.header-mail {
    background: url(../src/img/mail-yellow.png) no-repeat;
    padding-left: 32px!important
}

.testi-left {
    background: url(../src/img/sprite-img.png) no-repeat -26px -264px!important;
    height: 30px;
    width: 30px
}

.testi-right {
    background: url(../src/img/sprite-img.png) no-repeat -26px -226px!important;
    height: 30px;
    width: 30px
}

.rapid-img {
    width: 54px;
    height: 54px;
    margin: auto;
    background: url(../src/img/sprite-img.png) no-repeat -13px -18px
}

.baggaget-img {
    width: 54px;
    height: 54px;
    margin: auto;
    background: url(../src/img/sprite-img.png) no-repeat -13px -81px
}

.tourst-img {
    width: 54px;
    height: 54px;
    margin: auto;
    background: url(../src/img/sprite-img.png) no-repeat -13px -136px
}

span.tag_single_blog {
    margin: 10px;
    display: inline-block
}

.wpcf7-response-output.wpcf7-mail-sent-ok, .wpcf7-response-output.wpcf7-spam-blocked {
    color: #fff
}